* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, sans-serif;
    background-color: #b3acac;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: #b3acac;
    display: inline-flex;
    width: 80%;
    height: 70% ;
    perspective: 1000px; /* 3D effect */
}

.section {
    width: 40%;
    margin: 0 40px;
    padding: 40px;
    background-color:    #ff5555ab;
    border-radius: 35px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform-style: preserve-3d;
    transition: transform 0.1s ease-in;
    align-content: center;
}

.section h2 {
    font-size: 50px;
    margin-bottom: 200px;
    margin-top: 40px;
    text-align: center;
    color: #333;
}

.section p {
    font-size: 26px;
    text-align: center;
    color: #0c0b0b;
    margin-top: 50px;

    
}

.section button {

   
    background-color: rgba(214, 213, 213, 0.445);
    font-size: 25px;
    margin-top: 100px;
    }
/* 3Dadjustments */
.left {
    background-color: #b6ecbf8f;
    text-align: center;
}

.middle {
    background-color: #80bbf0a8;
    text-align: center;
}

.right {
    background-color: #f8a5d8;
    text-align: center;
}

/* Basic Button Styling */
button {
    background-color: #d81919;  /* Green background */
    border:#0c0b0b;               /* Remove border */
    color: white;               /* Text color */
    padding: 15px 32px;         /* Padding around the text */
    text-align: center;         /* Center text */
    text-decoration: none;      /* Remove underline */
    display: inline-block;      /* Align button in-line */
    font-size: 16px;            /* Font size */
    cursor: pointer;           /* Pointer cursor on hover */
    border-radius: 8px;         /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  }
  
  /* Hover Effect */
  button:hover {
    background-color: #e41426;  /* Darker green when hovered */
  }
  